################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

*.suo
*.sln
/Sprawdzian
/Klasy abstracyjne/.vs/Klasy abstracyjne/FileContentIndex
/Klasy abstracyjne/.vs/Klasy abstracyjne/v17/DocumentLayout.json
/Klasy abstracyjne/Sklep/.vs/Sklep
